.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.formConverter{
  display: flex;
  flex-direction: column;
  width:600px;
  height:200px;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.formConverter label{
margin:10px;
}

.formConverter input{
  width:80px;
}
.formConverter button{
  margin-top: 10px;
  width:230px;
  height:22px;
  border:none;
  border-radius: 5px;
  background-color: aqua;
  color: white;
  cursor: pointer;
}
